# Rust/Cargo debug files
/target/
**/*.rs.bk
**/*.swp
Cargo.lock
# VS Code/Cursor/IDE files
.vscode/*
.idea/
*.log
# except tasks and launch configs
!.vscode/tasks.json
!.vscode/launch.json
# OS system files
Thumbs.db
.DS_Store
